
.wrapper {
    margin-top: 10px;
    text-align: center;
}

.heading {
    font-size: 32px;
}
.body{
    margin-top:10px;
    margin-bottom: 10px;
    // display: flex;
    // flex-direction: column;
}
.cropLabel{
    padding-left: 0px;
    text-align:left;
}
.cropName{
    width:25%;
    padding:10px;
    border: 1px solid black;
    background-color:rgba(230, 225, 225, 0.621);
    border-radius: 4px;
}
.cropInfo{
    padding-left: 0px;
    text-align:left;
    margin-top: 20px;
    div{
        color:black;
    }
    p{
        font-size: 26px;
        // font-weight: bold;
    }
}
.button{
    width:10%;
    border: 1px solid grey;
    padding:10px;
    margin-left: 20px;
    box-shadow: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
}