@import '../index.scss';

*{
    color:$font1;
}

.mainContainer {
    padding: 50px;
}


.azaadiImg {
    width: 250px;
}



.carouselContainer {
    border: 2px solid $bg1;
    box-shadow: 20px 20px 20px #D9DADE, 20px 20px 15px #FFFFFF;

}

.videoContainer {
    background-image: url('../assets/img/backgrounds/videoBG.jpg');
    display: flex;
    justify-content: center;
    padding: 50px;
}

.video {
    border: 2px solid $bg2;
    box-shadow: 9.91px 9.91px 15px #93BD2F, -9.91px -9.91px 15px #AFE339;

}