@import '../index.scss';

.wrapper {
    height: 300px;
    width: 300px;
    margin: 10px 5px;
    background: linear-gradient(0deg, rgba(116,159,130,1) 0%, rgba(207,255,141,1) 29%, rgba(207,255,141,1) 100%);
    border-radius: 10px;
    border:5px solid $font2;
    box-shadow: 9.91px 9.91px 20px #B0B2B5, -9.91px -9.91px 20px #FFFFFF;
}

.title {
    color: $font1;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 2px;
    border-bottom: 10px solid white;
}

.pic {
    height: 220px;
    width: 250px;
}

.descContainer {
    margin: 2px auto;
    display: flex;
    align-items: center;
    
    width: 250px;
    background-color:white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
}