@import '../index.scss';

.wrapper {
    height: 300px;
    width: 100%;
    margin: 10px 5px;
    background: linear-gradient(0deg, rgba(116,159,130,1) 0%, rgba(207,255,141,1) 29%, rgba(207,255,141,1) 100%);
    border-radius: 10px;
    border:5px solid $font2;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.title {
    color: $font1;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 2px;
    border-bottom: 10px solid white;
}

.pic
{
    height: 220px;
    width: 90%;
}
