@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* header css  */

.headerUpper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.headerLogo {
  text-align: center;
  margin: 10px;
}

.headerImage {
  width: 150px;
}

.logoHeading {
  font-size: 14px;
  font-weight: 700;
  color: #079450;
}

.navbar {
  background-color: #079450;
}

.link {
  color: white;
  text-decoration: none;
  margin: 10px;
}

.link:hover {
  color: #003b1f;
  padding-bottom: 5px;
  border-bottom: solid 1px #003b1f;
}

.dropdownMenu {
  background-color: white;
}

.dropdownItem {
  color: #079450;
}

.dropdownItem:hover {
  background-color: #079450;
  color: white;
}
.btn-outline-success {
  background-color: white;
}

.searchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 15px;
}

.search {
  outline-color: #079450;
  color: #079450;
  padding: 5px;
  margin: 5px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #079450;
  outline-color: #079450;
  padding: 5px 15px;
}

.searchWrapper button {
  width: 40px;
  text-align: center;
}
@media (max-width: 500px) {
  .headerUpper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
} 
