@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');

$font1: #425f57;
$font2: #749f82;
$bg1: #a8e890;
$bg2: #cfff8d;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header CSS Starts */

.headerUpper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.headerLogo {
  text-align: center;
  margin: 12px;
}

.headerImage {
  width: 150px;
  margin-bottom: 10px;
}

.logoHeading {
  font-size: 14px;
  font-weight: 700;
  color: $font1;
}

.logo {
  font-size: 18px;
  font-weight: 600;
  color: $font2;
}
.logo > span {
  font-size: 12px;
  color: $font2;
}

/* Header CSS Ends */

/* Navbar CSS Starts */

.navLink {
  color: $font1 !important;
  text-decoration: none;
  margin: 5px;
}

.navLink:hover {
  color: $font2 !important;
  padding-bottom: 5px;
  border-bottom: solid 1px #003b1f;
}

#navDropdownLink {
  color: $font1;
  margin: 5px;
}

#navDropdownLink:hover {
  color: $font2 !important;
  padding-bottom: 5px;
  border-bottom: solid 1px #003b1f;
}

.dropdow-menu {
  background-color: white;
}

.dropdown-item {
  color: $font1;
}

.dropdown-item:hover {
  background-color: $bg1;
}
.btn-outline-success {
  background-color: white;
}

.navBtn {
  margin: 5px;
}

.searchWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 5px;
}

.search {
  outline-color: $bg2;
  color: $font1;
  padding: 5px;
  margin: 5px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #079450;
  outline-color: #079450;
  padding: 5px 15px;
}

/* Navbar CSS Ends */

/* Footer CSS Starts */

.footerWrapper {
  background-image: url('./assets/img/backgrounds/footer.jpg');
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
}

.footer-logo-heading {
  font-size: 50px;
  color: white;
  margin-bottom: 0;
  margin-top: 50px;
  line-height: 35px;
}

.footer-logo-subheading {
  font-size: 30px;
  color: #079450;
}

.footer-contact {
  margin-top: 50px;
  max-width: 500px;
}

.footer-contact-content {
  font-size: 20px;
  color: white;
}
.footer-contact-content > i,
span {
  font-size: 20px;
  color: white;
}

.footer-contact-content > span > i {
  font-size: 20px;
  color: white;
}

.footer-partners {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
}

.footer-partners-heading {
  font-size: 20px;
  color: white;
}

.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
}

.footer-partners-logos {
  background-color: white;
  margin: 10px;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 13px;
  padding: 5px;
  border: 1px solid #079450;
}
.footer-partners-logos:hover {
  opacity: 0.5;
}
.footer-partners-logos img {
  border-radius: 100%;
  width: 60px;
}

/* Footer CSS Ends */

// Card CSS Starts

.cardContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  min-height: 250px;
  width: 250px;
  margin: 10px;
  padding: 10px;
}

.cardHead {
  background-color: #079450;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100px;
  position: relative;
}
.cardImage {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 65px;
  border-top: 5px white;
  border-right: 5px white;
  border-bottom: 5px $bg2;
  border-style: double;
}

.cardBody {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cardName {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  color: #079450;
}

.cardTitle {
  font-size: 12px;
  color: #079450;
  text-align: center;
  min-height: 35px;
  margin: 0;
}

.bi-house {
  color: #079450;
}

.cardAddress {
  font-size: 14px;
  color: #079450;
  text-align: center;
  text-decoration: none;
}
.cardAddress:hover {
  color: #079450;
}

// Card CSS Ends

// Content Container CSS Starts

.contentContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentHeading {
  font-size: 32px;
}

.contentSubheading {
  font-size: 16px;
}

// Content Container CSS Ends

// Content Card Starts

.contentCardContainer {
  padding: 10px;
  color: white;
  border: 2px solid #079450;
  background-color: #079450;
  border-radius: 10px;
  font-size: 15px;
  margin: 10px;
}

.contentCardText {
  color: white;
  display: block;
}

.contentCardLink {
  color: white;
}

// Content Card Container Ends

.projectTeamContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
